body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.header {
   text-align: center;
   padding: 50px 20px;
   background-color: #f1f1f1;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;

}

.header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #666;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.navbar .menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-text {
    width: var(--w-12);
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    padding: 0 0 var(--size-4);
    align-items: center;
}

.image {
    width: 100%;
    border-radius: var(--size-2);
    
}

.main-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon {
    background-image: url(https://picsum.photos/50);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-item div h3 p {
    padding: 15px;
}

blockquote {
    margin-top: 20px;
    font-style: italic;
}

div p{
    display: block;
    margin-top: 10px;
    font-style: normal;
    color: #6c757d;
}

.benefit {
    padding: 20px;
    background-color: #f8f9fa;
    margin-top: 20px;
}

.benefit p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
    color: #6c757d;
}

.benefit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.benefit-number {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ced4da;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
}

.benefit-text {
    font-size: 1em;
    color: #6c757d;
}
.contact-form {
    background-color: var(--light-200);
    padding: var(--size-4);
    width: auto;
    height: fit-content;
    border-radius: var(--size-2);
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input,.contact-form select {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form button {
    padding: 10px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.package {
    text-align: center;
    padding: 50px 20px;
    background-color: #f1f1f1;
}

.package h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.package-gird {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.package-item {
    flex: 1;
    max-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.package-item h3 {
    margin-top: 0;
}

.closing {
    text-align: center;
    padding: 40px 20px;
    background-color: #e9ecef;
}

.closing button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}

footer p {
    margin: 5px 0;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button :hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .menu-icon {
        display: block;
    }

    .content {
        flex-direction: column;
    }

    .image-text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-form {
        max-width: 100%;
    }

    .benefit-list {
        flex-direction: column;
    }

    .package-gird {
        flex-direction: column;
        align-items: center;
    }

    .package-item {
        max-width: 100%;
    }
}