:root {
  scroll-behavior: smooth;
  scroll-behavior: smooth;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    box-sizing: border-box;
    background-color: #eaeef7;
}

.container {
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #ffd580;
  background-color: #ff7a1a;
  color: #eaeef7;
  border-radius: 0.25rem;
  font-family: inherit;
  display: block
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(237 88 36);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* Slideshow Styles */
.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 700px;
  margin: auto;
  overflow: hidden;
  margin-top: 30px; /* Offset for fixed navbar */
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
  background-color: #e9ecef;
}

.hero h1 {
  margin: 0;
}

/* Content Styles */
.about-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 1rem;
}
.about-img {
  width: 100%;
  border-radius: 0.5rem;
}
.about-caption {
  color: #4c5361;
  font-style: italic;
  padding: 0;
}
.about-caption::before,
.about-caption::after {
  content: '"';
}
.about-author {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
}
.author-img {
  width: calc(2rem * 2);
  height: calc(2rem * 2);
  border-radius: 999px;
}
.author-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.author-name {
  font-weight: 700;
}
.author-info {
  color: #4c5361;
  font-style: italic;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.feature-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.feature-icon {
  padding: 0.5rem;
  border: 1px solid #ff7a1a;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(237 88 36);
}

.contact {
  background-color: #c8cdd6;
  padding: 1rem;
  width: auto;
  height: fit-content;
  border-radius: 0.5rem;
}
.contact-form {
  margin-top: 2rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;
}
.input-label {
  font-weight: 500;
}
.input-field {
  padding: 0.5rem;
  background-color: #eaeef7;
  border: 2px solid #8c93a1;
  border-radius: 0.25rem;
  color: #131c2e;
  font-family: inherit;
}
.error-msg {
  font-size: 12px;
  color: #e71414;
  font-weight: 500;
  visibility: hidden;
  display: none;
}
.contact-form .button {
  width: 100%;
}
.package {
  margin-top: 1rem;
}
.package-banner {
  padding: 2rem 0;
  background-color: #c8cdd6;
  text-align: center;
}
.package-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.package-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
}
.package-icon {
  padding: 0.5rem;
  color: rgb(237 88 36);
  border: 1px solid #ff7a1a;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.package-content h3 {
  font-weight: 500;
}

.cta {
  margin-top: 1rem;
  padding: 2rem 0;
  border-top: 1px solid #131c2e;
}
.cta .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.cta .container p {
  width: 100%;
}
.cta .container .button {
  width: 100%;
}

.footer {
  border-top: 1px solid #131c2e;
  padding: 1rem;
  background-color: rgb(237 88 36);
  color: #eaeef7;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.footer-navigation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a {
  font-weight: 500;
  color: #eaeef7;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline solid black 2px;
  color: black;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: #333;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .burger {
        display: block;
    }

    .package-item {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
  .about-caption {
    font-size: 14px;
  }

  .feature .subsection-title {
    font-size: 14px;
  }

  .cta .container .section-title {
    font-size: 23px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --container: calc(768px - calc(2rem * 2));
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --container: calc(1024px - calc(2rem * 2));
  }
  .about-contact {
    flex-direction: row;
  }
  .about {
    width: calc(calc(100% / 12) * 8);
  }
  .about-caption {
    padding: 0 2rem;
  }
  .about-author {
    padding: 0 2rem;
  }
  .contact {
    width: calc(calc(100% / 12) * 4);
  }
  .package-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .package-item {
    width: calc(calc(100% / 12) * 4);
  }
  .cta .container p {
    width: calc(calc(100% / 12) * 6);
  }
  .cta .container .button {
    width: calc(calc(100% / 12) * 3);
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --container: calc(1280px - calc(2rem * 2));
  }
}

@media only screen and (min-width: 1536px) {
  :root {
    --container: calc(1536px - calc(2rem * 2));
  }
}